.container{
    width: 100%;
    background-color: white;
    padding: 0px;
}
.bar{
    width: 100%;
     background-color: #4A5C6A;
     display: flex;
}
.logo{
    width: 30%;
    background-color: rgb(0, 0, 0);
}
.navbar{
    width: 70%;
    background-color: aqua;
    
}
.navbar ul{
    display: flex;
    list-style-type: none;
}
.navbar ul li{
    display: block;
    padding: 10px 20px;
}
.navbar ul li a{
    text-decoration: none;
}