.nav {
  position: sticky;
  top: 0;
  z-index: 20;
  background: var(--surface);
  border-bottom: 1px solid var(--line);
}

.nav__bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 13x;
}

.nav__brand {
  font-weight: 800;
  letter-spacing: 0.2px;
}
.nav__brand img{
  object-fit: cover;
  width: 17%;
}

.nav__toggle {
  background: transparent;
  border: 1px solid var(--line);
  border-radius: var(--radius);
  padding: 8px 10px;
  font-family: var(--font-family);
}


.nav__list {
  display: none;
  list-style: none;
  margin: 0;
  padding: 8px 16px;
  border-top: 1px solid var(--line);
  background: var(--surface);
}

.nav__item {
  padding: 10px 0;
  border-bottom: 1px dashed var(--line);
}

.nav__item:last-child {
  border-bottom: none;
}

.nav__link {
  display: block;
}
.section__head {
  display: block;  
  align-items: center;
  justify-content: space-between;    
  margin-top: 50px;
  text-align: center;
}
.section__agents{
  display: flex;
  margin-top: 70px;
}

.nav--open .nav__list {
  display: block;
}
.agent__btn {
  display: block;
  margin: 15px auto ;
  padding: 8px 18px;
  background: var(--accent);
  color: #ffffff;
  background-color: blue;
  border: none;
  border-radius: var(--radius);
  font-size: 0.9rem;
  cursor: pointer;
  transition: 0.2s ease;
}

.agent__btn:hover {
  background: var(--accent-dark);
  background-color: orangered;
  transform: translateY(-2px);
}
.agent{
  justify-content: space-around;}


@media (min-width: 1200px) {

  .nav {
    display: flex;
    justify-content: center;
  }

  .nav__bar {
    padding: 14px 0;
    height: 70px;
  }
  .nav__brand{
   width: 80%;
   object-fit: cover;
  }
  

  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 28px;
    padding: 0;
    margin: 0 auto;          
    border: none;
    background: transparent;
}
 .nav__item {
    padding: 0;
    border: none;
    }

.nav__link {
    font-size: 0.95rem;
    font-weight: 500;
    padding: 6px 0;
    color: var(--text);
  }

  .nav__link:hover {
    color: var(--accent);
  }
  
}
